header {
    text-align: center;
    background: #6a60a9;
    color: white;
    height: 200px;
}

.header-container {
    margin: 0 auto;
    max-width: 700px;
}

.header-title {
    text-decoration: none;
    font-size: 35px;
    color: white;
    letter-spacing: -1px;
    margin-bottom: 5px;
    cursor: default;
}

.header-description {
    font-size: 15px;
    letter-spacing: -0.5px;
    cursor: default;
    font-style: italic;
    font-family: georgia, serif;
}

.header-menu-container {
    padding: 15px 0;
    text-align: left;
    margin-bottom: 25px;
}
.header-menu-container:first-child {
    margin-left: 15px;
}

.header-menu-item {
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: white;
    opacity: 0.4;
}
.header-menu-item.link .fab {
    float: right;
    padding-top: 5px;
    font-size: 20px;
    margin-left: 20px;
}
.header-menu-item.selected {
    opacity: 1;
    font-weight: 800;
}

.header-menu-item:hover {
    opacity: 1;
    transition: 0.3s;
}

.header-menu-item.github .fab {
    margin-right: 15px;
}

@media all and (min-width: 768px) {
    .header-menu-item.github .fab {
        margin-right: 0;
    }
}
