@charset "utf-8";

/* All Device */
.post-item-container a {
    text-decoration: none;
    color: black;
}

.post-item-title {
    line-height: 1.4;
    font-size: 23px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
}
.post-item-title:hover {
    transition: 0.3s;
    opacity: 0.3;
}

.post-item-info {
    /*margin-bottom: 5px;*/
}

.post-item-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.3px;
    margin-right: 7px;
    cursor: default;
}

.post-item-category {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    background: #dedcee;
    padding: 1px 7px;
    font-weight: 800;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.post-item-description {
    font-size: 16px;
    letter-spacing: -0.7px;
    cursor: default;
}

/* Mobile Device */
@media all and (max-width: 768px) {
    .post-item-container {
        margin-bottom: 15px;
    }
}

/* Tablet, Desktop Device */
@media all and (min-width: 768px) {
    .post-item-container {
        padding: 15px;
    }
}
