@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  font-size: 14px;
  letter-spacing: -1px;
  margin-top: 10px;

  &__category {
    font-weight: 800;
    text-transform: uppercase;
    color: $color-secondary;
  }

  &__date {
    font-weight: 500;
    margin-right: 10px;
  }
}
