.post-info {
    .date {
        font-size: 13px;
    }
    .category {
        margin-right: 10px;
        font-size: 11px;
        background: var(--post-info-category-bg);
        padding: 1px 7px;
        font-weight: bold;
        border-radius: 8px;
        text-transform: uppercase;
    }
}
